{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["last 2 versions"]
        },
        "include": ["es6.promise", "es6.object.assign"],
        "loose": true,
        "modules": false
      }
    ]
  ],
  "plugins": ["babel-plugin-transform-class-properties"],
  "env": {
    "test": {
      "presets": ["env"],
      "plugins": ["babel-plugin-transform-class-properties"]
    }
  }
}
